.tagSelector {
	padding: 12px;
	margin: 12px;
	border: 2px solid var(--accent);
}

.tagsList {
	max-height: 10vh;
	overflow-y: auto;
}

.tagAddItem {
	cursor: pointer;
}
.tagAddItem:hover {
	color: var(--accent);
}

.tagRemoveItem {
	cursor: pointer;
}
.tagRemoveItem:hover {
	color: var(--warning);
}
