.container {
	margin: 2rem;
	display: grid;
	gap: 2rem;
}

.settings_line {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.settings_line > p {
	font-size: 2rem;
}

.settings_droplist {
	height: 2rem;
	font-size: 1.5rem;
}
