.section {
	display: grid;
	width: 80%;
	transform: translateX(10%);
	margin-top: 3rem;
}

.options {
	margin-top: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}

.options > * {
	flex: 1;
}

.options_text {
	font-size: 1.5rem;
}

.controls {
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;
}

.text_muted {
	color: var(--muted);
}
