:root {
	--main-text-color: black;
	--bg: white;
	--light-bg: whitesmoke;
	--accent: rgba(51, 131, 110, 1);
	--muted: rgb(132, 131, 131);

	--button-border-radius: 10px;
	--default-icon-size: 36px;
}

[data-theme="dark"] {
	--main-text-color: rgb(199, 198, 198);
	--bg: rgb(105, 105, 105);
	--light-bg: rgb(89, 89, 89);
	--accent: rgba(51, 131, 110, 1);
	--muted: rgb(176, 176, 176);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--bg);
	color: var(--main-text-color);

	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none;
	color: var(--main-text-color);
}

a:hover, button:hover, input:hover, textarea:hover {
	color: var(--accent);
}

.centered {
	text-align: center;
}

.control {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	width: 100%;
	margin-bottom: 1rem;
}
