:root {
	--main-text-color: black;
	--accent: rgba(51, 131, 110, 1);
	--muted: rgb(132, 131, 131);
	--button-border-radius: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--main-text-color);
}

a:hover, button:hover, input:hover, textarea:hover {
	color: var(--accent);
}

.centered {
	text-align: center;
}

.control {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	width: 100%;
	margin-bottom: 1rem;
}
