* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered {
	text-align: center;
}

.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
}