.button {
	padding: 0.8rem 2rem;
	border: none;
	border-radius: var(--button-border-radius);
	cursor: pointer;
	transition: all var(--transition-time);
	margin: 0.5rem;
	background-color: var(--accent);
}

.button:hover {
	opacity: 0.9;
	color: var(--light-text-color);
}

.button:active {
	background-color: var(--light-accent);
}

.button:disabled {
	background-color: var(--muted);
	cursor: not-allowed;
}

.button.active {
	background-color: var(--light-bg);
}
