.header {
	width: 100%;
	top: 0;
	min-height: 2rem;
	display: block;
	position: sticky;
	background-color: whitesmoke;
	padding: 0.7rem;
}

.header__container {
	width: 80%;
	transform: translateX(10%);
	display: block;
}